<%= form_with(url: users_path, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field modal-body" style="text-transform:uppercase">
    <%= form.label "TWITTER ID" %>
    <%= form.text_field :screen_name, class: "form-control", placeholder: "@twitter_id" %>
  </div>

  <%= form.hidden_field :team_id, :value => @team.id %>


  <div class="actions modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    <%= form.submit "決定", class: "btn btn-info" %>
  </div>
<% end %>
